doctype html
html(lang='en')
      head
          title #{heading}
          link( rel="stylesheet" href="/css/error.css" type="text/css")

        body
          #container
            h1 #{heading}
            pre #{message}
